html{
    scroll-behavior: smooth;
  }
body{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    background: #434343;
  }
 /*---Header --*/ 
#navbarHeader{
    background-color: #f1f2f6;
}  
#header-text{
    font-family: "montserrat",sans-serif;
    font-size: 130%;
    color:#747d8c;
    font-style: italic;
}
.navbar-nav .cart {
    margin-top:3px;
}

/*---Navigation --*/ 
#navbarNav{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: .1rem;
    background:#ced6e0;
}
.navbar-brand img{
    height: 2.5rem;
    padding-left: 1rem;
}
#navbarMenu .navbar-nav li{
    padding-left: 3.5rem;
}
#navbarMenu .navbar-nav a{
    color:#2f3542;  
}
#navbarMenu .navbar-nav a:hover{
    color:#20bf6b;
} 


/*---Show slider --*/ 
.container {
    list-style: none;
}

.container .col-md-9 .i1{
    width: 500px;
    height: 330px;
    float: left;
    cursor: pointer;
}
.container .col-md-9 .i2{
    width: 300px;
    height: 165px;
    float: left;
    margin-left: 2px;
    margin-bottom: 2px;
    cursor: pointer;
}
.container .col-md-9 .i3{
    width: 300px;
    height: 165px;
    float: left;
    margin-left: 2px;
    margin-bottom: 2px;
    cursor: pointer;
}
.container .col-md-9 .i4{
    width: 200px;
    height: 120px;
    float: left;
    margin-bottom: 2px;
    cursor: pointer;
}
.container .col-md-9 .i5{
    width: 200px;
    height: 120px;
    float: left;
    margin-left: 2px;
    margin-bottom: 2px;
    cursor: pointer;
}
.container .col-md-9 .i6{
    width: 197px;
    height: 120px;
    float: left;
    margin-left: 2px;
    margin-bottom: 2px;
    cursor: pointer;
}
.container .col-md-9 .i7{
    width: 200px;
    height: 120px;
    float: left;
    margin-left: 2px;
    margin-bottom: 2px;
    cursor: pointer;
}
.container .col-md-9 .item img{
    width: 100%;
}


/*---List Product --*/ 

.list-product .col-xs-12 img{
    width:245px;
   
}
.list-product h6{
    color:#2f3542;
    text-transform: uppercase;
    font-family: "montserrat",sans-serif;
    font-size: 25px;
}
.list-product .light{
    width: 12%;
    margin: 0;
    color:#bdc3c7;
}
.list-product .col-xs-12 h3{
    font-size: 15px;
    font-family: "montserrat",sans-serif;
    color: #1e272e;
}

.list-product .col-xs-12:hover{
    border: 1px solid #ecf0f1;
    border-radius: 6px;
    transform: scale(1.05);
}
.btnCTSP {
    position: absolute;
    height: 25px;
    width: 100px;
    background: #ff7f50;
    line-height: 20px;
    text-align: center;
    left: -2000px;
    border-radius: 6px;
}
.btnCTSP a{
    color: #fff;
}
.btnCTSP a:hover{
    text-decoration: none;
    color: #fff;
}
.list-product .col-xs-12:hover .btnCTSP{
    position: absolute;
    top:35%;
    left:35%;
}

/*---Footer Start --*/

.light{
    margin-top:1.5rem;
}
.container .col-12 h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 30px;
    color:#1e3799;
}
.container .col-12 a{
    display: inline-flex;
    width: 50px;
    height: 50px;
    background: #2c3e50;
    color:white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.4;
    font-size: 24px;
    margin:5px 20px;
}
.container .col-12 a:hover{
    background: #e67e22;
    text-decoration: none;
}

/*---Footer End --*/
.container-fluid .col-md-4{
    background: #718093;
    color:white;
    padding-top: 2rem;
}
.container-fluid .col-md-4 .light{
    width:75%;
    border: 1px solid #2f3640;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

.container-fluid .col-md-4 .footer-icons-PTTT i{
    display: inline-flex;
    width: 45px;
    height: 45px;
    background: #2c3e50;
    color:white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.4;
    font-size: 24px;
    margin:15px 10px;
}
.container-fluid .col-md-4 h5{
    text-transform: uppercase;

}
.container-fluid .col-md-4 h6{
    text-transform: uppercase;
    font-size: 20px;
}

/*---Sroll On Top --*/
.container-fluid .col-md-4 .btn-outline-warning{
    margin:50px 0 0 280px;
    font-size:20px;
}